.form-inline{
    background-color: rgb(175, 175, 175);
    margin-bottom: 15px
}

.form-control{
    background-color: rgb(236, 236, 236);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px
    
}

header.jumbotron.img-responsive{
    background-image: url("images/death-grips-on-gp (2).jpg") !important;
    height: 390px;
}

img{
    width: 100px;
    height: 100px;
    margin-top: 10px
}

panel {
    margin-bottom: -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-width: 0px;
}
